<nav class="bg-white border-b sticky top-0 z-50">
    <div class="container mx-auto px-4">

        <div class="flex justify-between items-center h-16">

            <div class="font-bold text-xl">
                Mobappy
            </div>

            <div class="flex gap-6">

                <button
                    onclick="loadPage('home')"
                    class="hover:text-blue-500 transition">
                    Home
                </button>

                <button
                    onclick="loadPage('product')"
                    class="hover:text-blue-500 transition">
                    Product
                </button>

            </div>

        </div>

    </div>
</nav>